*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --maincolor:#ff206e;
}
.font_family{
font-family: 'Montserrat', sans-serif;
}
.font_size_s{
    font-size: 0.85rem;
}
.box_shadow{
box-shadow: 0px 1.875rem 3.125rem rgb(0 0 0 / 5%);
}
#home{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.black{
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.65);
}
.home_content h1{
    font-size: 3.125rem;
}
.home_content a{
    color: var(--maincolor);
}
.icon i{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.fs_h2{
    font-size: 3.5rem;
}
.animation::after {
    content: "";
    color: #fff;
    font-family: 'Montserrat', sans-serif;
animation: writing 1.5s infinite;
}
@keyframes writing {
    0% {
        content: "|";
    }
    5% {
        content: "D|";
    }
    10% {
        content: "De|";
    }
    15% {
        content: "Des|";
    }
    20% {
        content: "Desi|";
    }
    25% {
        content: "Desig|";
    }
    30% {
        content: "Design|";
    }
    35% {
        content: "Designe|";
    }
    40% {
        content: "Designer|";
    }
    45% {
        content: "Designer|";
    }
    50% {
        content: "Designe|";
    }
    55% {
        content: "Design|";
    }
    60% {
        content: "Desig|";
    }
    65% {
        content: "Desi|";
    }
    70% {
        content: "Des|";
    }
    75% {
        content: "De|";
    }
    80% {
        content: "D|";
    }
    85% {
        content: "|";
    }
    100%{
        content: "|";
    }
}
.py_7 {
    padding: 6rem 0rem;
}
.dots{
    position: relative;
}
.dots::after{
    content: "";
    width: 80%;
    height: 80%;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;
    position: absolute;
    top: 7rem;
    left: -1.0625rem;
}
.w_70 {
    width: 70%;
}
.progress-bar {
    background-color: black;
}
.w_95{
    width: 95%;
    position: relative;
}
.z::after{
    content: "95%";
position: absolute;
left: 27.5rem;
}
.z{
    z-index: 998;
    font-size: 0.6rem;
    margin-left: 1rem;
}
.w_80{
    width: 80%;
    position: relative;
}
.z1::after{
    content: "80%";
position: absolute;
left: 23rem;
}
.z1{
    z-index: 998;
    font-size: 0.6rem;
    margin-left: 1rem;
}
.w_90{
    width: 90%;
    position: relative;
}
.z2::after{
    content: "90%";
position: absolute;
left: 26rem;
}
.z2{
    z-index: 998;
    font-size: 0.6rem;
    margin-left: 1rem;
}

.button_d button{
    margin-top: 2rem;
    padding: 0.4rem 1.5rem;
    font-size: 0.7rem;
    color: #ffffff;
    border: 2px #000000 solid;
    border-radius: 5px;
    background-color: black;
    font-family: 'Poppins', sans-serif;
        transition: all 0.5s;
    }
    .button_d button:hover {
        color: #6c757d;
        background-color: rgba(0, 0, 0, 0);
    }
.button_c button{
    margin-top: 2rem;
    padding: 0.4rem 2rem;
    font-size: 0.7rem;
    color: #6c757d;
    border: 2px #000000 solid;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
        transition: all 0.5s;
    }
    .button_c button:hover {
        color: #fff;
        background-color: rgb(0, 0, 0);
    }

    .border_none {
        border: none;
    }
    .fs_vip {
        font-size: 1.5rem;
    }
    .fs_vip1 {
        font-size: 0.8rem;
    }
    .card_hover i{ 
        transition: all 0.5s;
    }
    .card_hover:hover i {
    color: #fff;
    background-color: #000000 !important;
    }
.h_77{
    height: 79%;
}
.h_80{
    height: 78%;
}
.w_87{
    width: 87%;
}
.w_89{
    width: 86%;
}
.w_20{
    width: 20%;
}
.form-control {
padding: 0;
font-size: 0.9rem;
background-color: #f4f4f4;
}
.layer{
    top: 1.27rem;
    left: 1.2rem;
    opacity: 0;
    transition: all .5s;
    transform: translateY(10px);
}
.layer:hover{
opacity: 1;
top: 1.17rem;
}
.pt_6{
    padding-top: 4.5rem;
}
.a_hover i{
    border: 1px #000000 solid;
    transition: all 0.5s;
}
.a_hover:hover i{
    color: rgb(0, 0, 0) !important;
    background-color: #ffffff !important;
}

.layer1{
    top: 1.5rem;
    left: 1.4rem;
    opacity: 0;
    transition: all .5s;
    transform: translateY(10px);
}
.layer1:hover{
opacity: 1;
top: 1.2rem;
}
.pt_6{
    padding-top: 4.5rem;
}
.a_hover i{
    border: 1px #000000 solid;
    transition: all 0.5s;
}
.a_hover:hover i{
    color: rgb(0, 0, 0) !important;
    background-color: #ffffff !important;
}
.pt_7{
    padding-top: 7rem;
}

.carousel-indicators [data-bs-target] {
    width: 5px;
    height: 5px;
    padding: 0.1rem;
    margin-right: 1rem;
    margin-left: .5;
    background-color: #869791;
    border-radius: 50%;
}
.carousel-indicators {
    left: 14px;
}
.pb_6{
    padding-bottom: 3rem;
}
.card_1 {
    overflow: hidden;
}
.card_1 img {
    transition: all 1s;
}
.card_1:hover img {
    transform: scale(1.2);
}
.font_size_ss{
    font-size: .7rem;
}
.line_hight{
    line-height: 1.5;
}
.h2_afterr{
    position: relative;
}
.h2_afterr::after{
content: '';
    width: 15%;
    height: 1.875rem;
    /* background-color: #000000; */
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    top: 50%;
    left: 42.5%;
    z-index: -1;
}
.p_6{
    padding: 2rem;
}
.icon1 i{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.button_s button{
    margin-top: 2rem;
    padding: 0.4rem 2rem;
    font-size: 0.7rem;
    color: #ffffff;
    border: 2px #000000 solid;
    border-radius: 5px;
    background-color: black;
    font-family: 'Poppins', sans-serif;
        transition: all 0.5s;
    }
    .button_s button:hover {
        color: #6c757d;
        background-color: rgba(0, 0, 0, 0);
    }
    .bg_black{
background-color:   #1c1c1c;
    }
  
@media screen and (max-width: 992px) {
    .nav-link::after{
        left: 0;
    }
    .nav-link:hover::after {
        width: 7%;
    }
    .icon{
        width: 35%;
    }
    .mq{
        margin-top: 2rem;
    }
    .z::after{
    left: 18rem;
    }
    .z1::after{
        left: 14rem;
        }
        .z2::after{
            left: 17rem;
            }
.h_80 {
    height: 80%;
}
.layer{
    top: 2rem;
    left: 1.6rem;
}
.layer:hover{
    top: 1.8rem;
    }
.layer1{
    top: 1.9rem;
    left: 1.6rem;
}
.layer1:hover{
    top: 1.5rem;
    }
   .mq3{
    margin-right: 2rem;
   }
    .mq2{
        padding-top: 2rem;
    }
    .mq1{
        padding-left: 10.5rem;
    }
}